{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container text-center">
        <div class="row">
            <div class="col">
                <!-- Add content here if needed -->
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 d-flex justify-content-center align-items-center text-center">
        <div>
            <h1 class="display-4 logo-font text-black-red">
                New Merch Is Here!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 py-3" >GO TO NARTH VAD3R MERCH</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}