{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <div class="container header-container py-5 mt-5 pt-5">
        <div class="overlay"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content bg-black text-white p-5 rounded-lg shadow-lg">
                    <hr>
                    <h2 class="logo-font mb-4 text-danger">{% trans "Log Out" %}</h2>
                    <hr>
                    <p class="text-white">{% trans 'Are you sure you want to log out?' %}</p>

                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <a class="btn btn-outline-danger rounded-0" href="{% url 'home' %}">{% trans 'Cancel' %}</a>
                            <button class="btn btn-danger rounded-0" type="submit">{% trans 'Log Out' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
